<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hunliji.hljcardlibrary"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".views.activities.CardMusicListActivity"
            android:label="选择音乐"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitleTheme.Dark" />
        <activity
            android:name=".views.activities.MusicListActivity"
            android:label="选择音乐"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitleTheme.Dark" />
        <activity
            android:name=".views.activities.CardTemplateActivity"
            android:label="@string/title_activity_card_template___card"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitleTheme.Dark" />
        <activity
            android:name=".views.activities.CardThemeActivity"
            android:label="@string/title_activity_card_choose_template___card"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitleTheme.Dark" />
        <activity
            android:name=".views.activities.CardPreviewActivity"
            android:label="@string/title_activity_card_preview___card"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitleTheme.Dark" />
        <activity
            android:name=".views.activities.PartnerCardPreviewActivity"
            android:label="@string/title_activity_card_preview___card"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitleTheme.Dark" />
        <activity
            android:name=".views.activities.CardWebActivity"
            android:label="请帖编辑"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitleTheme.Dark"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".views.activities.PageTextEditActivity"
            android:label="编辑文字"
            android:screenOrientation="portrait"
            android:theme="@style/DialogActivityTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".views.activities.PageImageEditActivity"
            android:label="编辑图片"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitleTheme.Dark" />
        <activity
            android:name=".views.activities.PageImageChooserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitleTheme.Dark" />
        <activity
            android:name=".views.activities.PageVideoChooserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitleTheme.Dark" />
        <activity
            android:name=".views.activities.PageVideoPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBarTheme" />
        <activity
            android:name=".views.activities.PageVideoTrimActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBarTheme" />
        <activity
            android:name=".views.activities.PageImageChooserPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitleTheme.Dark" />
        <activity
            android:name=".views.activities.ModifyNameApplyActivity"
            android:label="申请修改姓名"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTitleTheme.Dark" />
        <activity
            android:name=".views.activities.ModifyNameStatusActivity"
            android:label="申请修改姓名"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/CustomTitleTheme.Dark" />
    </application>

</manifest>